{% extends 'base.html.twig' %}

{% block title %} Touche pas au klaxon {% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    <h1>
        {% if app.user %}
            Trajets proposés
        {% else %}
            Pour obtenir plus d'informations sur un trajet, veuillez vous connecter
        {% endif %} 
    </h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('journey_new') }}">Créer un nouveau trajet</a>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Départ</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Places</th>
                {% if app.user %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for journey in journeys %}
                <tr>
                    <td>{{ journey.departureAgency.city }}</td>
                    <td>{{ journey.departureDate|date('d/m/Y') }}</td>
                    <td>{{ journey.departureDate|date('H:i') }}</td>
                    <td>{{ journey.arrivalAgency.city }}</td>
                    <td>{{ journey.departureAgency }}</td>
                    <td>{{ journey.arrivalDate|date('d/m/Y') }}</td>
                    <td>{{ journey.arrivalDate|date('H:i') }}</td>
                    <td>{{ journey.availableSeats }}</td>
                    {% if app.user %}
                        <td>
                            <a href="{{ path('journey_show', {'journeyId': journey.id}) }}">Détails</a>
                            {% if is_granted('ROLE_ADMIN') or app.user.id == journey.user.id %}
                                <a href="{{ path('journey_edit', {'journeyId': journey.id}) }}">Modifier</a>
                                {{ include('journey/_delete_form.html.twig') }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{% if app.user %}6{% else %}5{% endif %}">Aucun trajet disponible. </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
