{% extends 'base.html.twig' %}

{% block title %} Touche pas au klaxon {% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="flash">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

    <h1>
        {% if app.user %}
            Trajets proposés
        {% else %}
            Pour obtenir plus d'informations sur un trajet, veuillez vous connecter
        {% endif %} 
    </h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('journey_new') }}" class="btn">Créer un nouveau trajet</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Départ</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Places</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Conducteur</th>
                {% endif %}
                {% if app.user %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for journey in journeys %}
                <tr class="journey">
                    <td>{{ journey.departureAgency.city }}</td>
                    <td>{{ journey.departureDate|date('d/m/Y') }}</td>
                    <td>{{ journey.departureDate|date('H:i') }}</td>
                    <td>{{ journey.arrivalAgency.city }}</td>
                    <td>{{ journey.arrivalDate|date('d/m/Y') }}</td>
                    <td>{{ journey.arrivalDate|date('H:i') }}</td>
                    <td>{{ journey.availableSeats }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ journey.user.firstName }} {{ journey.user.lastName }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#detailsModal{{ journey.id }}">
                                Détails
                            </button>
                            <div class="modal fade" id="detailsModal{{ journey.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ include('journey/show.html.twig') }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Fermer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.id == journey.user.id %}
                                <a href="{{ path('journey_edit', {'journeyId': journey.id}) }}" class="btn">Modifier</a>
                            {% endif %}
                            {{ include('journey/_delete_form.html.twig') }} 
                    {% elseif app.user %}
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#detailsModal{{ journey.id }}">
                                Détails
                            </button>
                            <div class="modal fade" id="detailsModal{{ journey.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ include('journey/show.html.twig') }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Fermer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.id == journey.user.id %}
                                <a href="{{ path('journey_edit', {'journeyId': journey.id}) }}" class="btn">Modifier</a>
                                {{ include('journey/_delete_form.html.twig') }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{% if is_granted('ROLE_ADMIN') %} 9 {% elseif app.user %}8{% else %}7{% endif %}" class="no-journey">Aucun trajet disponible. </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
