{% extends 'base.html.twig' %}

{% block title %} Touche pas au klaxon {% endblock %}

{% block body %}
    <h1>
        {% if app.user %}
            Trajets proposés
        {% else %}
            Pour obtenir plus d'informations sur un trajet, veuillez vous connecter
        {% endif %} 
    </h1>

    <table>
        <thead>
            <tr>
                <th>Départ</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Places</th>
                {% if app.user %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for journey in journeys %}
                <tr>
                    <td>{{ journey.departureAgency.city }}</td>
                    <td>{{ journey.departureDate|date('d/m/Y') }}</td>
                    <td>{{ journey.departureDate|date('H:i') }}</td>
                    <td>{{ journey.arrivalAgency.city }}</td>
                    <td>{{ journey.departureAgency }}</td>
                    <td>{{ journey.arrivalDate|date('d/m/Y') }}</td>
                    <td>{{ journey.arrivalDate|date('H:i') }}</td>
                    <td>{{ journey.availableSeats }}</td>
                    {% if app.user %}
                        {# TODO #}
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{% if app.user %}6{% else %}5{% endif %}">Aucun trajet disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
