<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="none">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Touche pas au klaxon {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <header>
            <nav>
                <p class="logo">Touche pas au klaxon </p>
                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        <a href="{{ path('user_index') }}" class="btn">Utilisateurs</a>
                        <a href="{{ path('agency_index') }}" class="btn">Agences</a>
                        <a href="{{ path('home') }}" class="btn">Trajets</a>
                    </div>
                    <div>
                        Bonjour {{ app.user.firstName }} {{ app.user.lastName }}, <a href="{{ path('logout') }}" class="btn">Déconnexion</a>
                    </div>

                {% elseif app.user %}

                    <a href="{{ path('journey_new') }}" class="btn">Créer un trajet</a>
                    <div>
                        Bonjour {{ app.user.firstName }} {{ app.user.lastName }}, <a href="{{ path('logout') }}" class="btn">Déconnexion</a>
                    </div>

                {% else %}

                    <div>
                        <a href="{{ path('login') }}" class="btn">Connexion</a>
                    </div>

                {% endif %}

            </nav>
        </header>

        <main>
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            &copy; {{ "now"|date("Y") }} Touche pas au Klaxon
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>

</html>