{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="user">
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        Administrateur
                    {% else %}
                        Utilisateur
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
