{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    <h1>Liste des utilisateurs</h1>

    <a href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_edit', {'userId': user.id}) }}">Modifier</a>
                    {{ include('user/_delete_form.html.twig', { user: user }) }}                

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
