{{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.departureDate, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.departureDate, {'attr': {'class': 'form-control mb-2'}}) }}
        <div class="alert-danger">
            {{ form_errors(form.departureDate) }}
        </div>
    </div>

    <div>
        {{ form_label(form.arrivalDate, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.arrivalDate, {'attr': {'class': 'form-control mb-2'}}) }}
        <div class="alert-danger">
            {{ form_errors(form.arrivalDate) }}
        </div>
    </div>

    <div>
        {{ form_label(form.totalSeats, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.totalSeats, {'attr': {'class': 'form-control mb-2'}}) }}
        <div class="alert-danger">
            {{ form_errors(form.totalSeats) }}
        </div>            
    </div>

    <div>
        {{ form_label(form.availableSeats, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.availableSeats, {'attr': {'class': 'form-control mb-2'}}) }}
        <div class="alert-danger">
            {{ form_errors(form.availableSeats) }}
        </div>            
    </div>

    <div>
        {{ form_label(form.departureAgency, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.departureAgency, {'attr': {'class': 'form-control mb-2'}}) }}
        <div class="alert-danger">
            {{ form_errors(form.departureAgency) }}
        </div>
    </div>

    <div>
        {{ form_label(form.arrivalAgency, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.arrivalAgency, {'attr': {'class': 'form-control mb-2'}}) }}
        <div class="alert-danger">
            {{ form_errors(form.arrivalAgency) }}
        </div>
    </div>

    <button class="btn btn-primary" value="save">{{ button_label|default('Enregistrer') }}</button>
    
{{ form_end(form) }}