{% extends 'base.html.twig' %}

{% block title %}Détail du trajet{% endblock %}

{% block body %}
    <h1>Détails du trajet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Auteur</th>
                <td>
                    {{ journey.user.firstName }} {{ journey.user.lastName }} 
                </td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>
                    {{ journey.user.phone }} 
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ journey.user.email }}</td>
            </tr>
            <tr>
                <th>Nombre total de places</th>
                <td>{{ journey.totalSeats }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home') }}">Retour à la liste des trajets</a>

    <a href="{{ path('journey_edit', {'journeyId': journey.id}) }}">Modifier ce trajet</a>

    {{ include('journey/_delete_form.html.twig') }}
{% endblock %}