    <table class="table">
        <tbody>
            <tr>
                <th>Auteur</th>
                <td class="journey-author">
                    {{ journey.user.firstName }} {{ journey.user.lastName }} 
                </td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td class="journey-phone">
                    {{ journey.user.phone }} 
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td class="journey-mail">{{ journey.user.email }}</td>
            </tr>
            <tr>
                <th>Nombre total de places</th>
                <td class="journey-seats">{{ journey.totalSeats }}</td>
            </tr>
        </tbody>
    </table>